<ng-container>
    <footer>
        <div class="container footer_links">
            <div class="footerLogo">
                <div class="logo-img">
                    <img src="../../../assets/logo.png" alt="footer-logo" />
                </div>
                <div class="socialMedia_icon">

                </div>
            </div>
            <div class="links">
                <div class="shop_nev">
                    <h3>Shop Earburd</h3>
                    <ul>
                        <li><a [routerLink]="''">Neck band</a></li>
                        <li><a [routerLink]="''">Truly Earbuds</a></li>
                        <li><a [routerLink]="''">Noise Cancellation Earbuds</a></li>
                        <li><a [routerLink]="''">Gaming Earbuds</a></li>
                    </ul>
                </div>
                <div class="shop_nev">
                    <h3>Shop Speakers</h3>
                    <ul>
                        <li><a [routerLink]="''">SoundBar</a></li>
                        <li><a [routerLink]="''">Speaker</a></li>
                        <li><a [routerLink]="''">Sound Buffer</a></li>
                        <li><a [routerLink]="''">RGB Speakers</a></li>
                    </ul>
                </div>
                <div class="shop_nev">
                    <h3>Shop others</h3>
                    <ul>
                        <li><a [routerLink]="''">Keyboard's</a></li>
                        <li><a [routerLink]="''">Mouse's</a></li>
                        <li><a [routerLink]="''">Gaming Head Phones</a></li>
                        <li><a [routerLink]="''">Aio cooler's</a></li>
                    </ul>
                </div>
                <div class="shop_nev">
                    <h3>About</h3>
                    <ul>
                        <li><a [routerLink]="''">About Company</a></li>
                        <li><a [routerLink]="''">Blog</a></li>
                        <li><a [routerLink]="''">Our Team</a></li>
                        <li><a [routerLink]="''">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="copy-right">
        <div class="container">
            <h3>© 2024 Ganga. All Rights Reserved.</h3>
        </div>
    </div>
</ng-container>